In [1]:
import pandas as pd
import matplotlib.pyplot
import numpy as np

In [2]:
#Data Location: https://mitu.co.in/dataset fb.csv

In [6]:
# Load the Data
df_fb = pd.read_csv('../Datasets/fb.csv')

In [7]:
df_fb

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

### 1. Count how many number of posts are paid and unpaid?

In [13]:
# Total Post
total_post=len(df_fb)
total_post

500

In [15]:
#Create mask for paid Post
df_fb['Paid']>0

0      False
1      False
2      False
3       True
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: Paid, Length: 500, dtype: bool

In [17]:
# Apply the mask for total Paid Post
total_paid_post = len(df_fb[df_fb['Paid']>0])
total_unpaid_post = total_post -total_paid_post

In [18]:
print("Number of post are Paid :", total_paid_post)
print("Number of post are unpaid :", total_unpaid_post)

Number of post are Paid : 139
Number of post are unpaid : 361

### 2. Display only Page type, Month, like, comments and shares.

In [19]:
df_fb[['Type','Post Month','like','comment','share']]

       Type  Post Month    like  comment  share
0     Photo          12    79.0        4   17.0
1    Status          12   130.0        5   29.0
2     Photo          12    66.0        0   14.0
3     Photo          12  1572.0       58  147.0
4     Photo          12   325.0       19   49.0
..      ...         ...     ...      ...    ...
495   Photo           1    53.0        5   26.0
496   Photo           1    53.0        0   22.0
497   Photo           1    93.0        4   18.0
498   Photo           1    91.0        7   38.0
499   Photo           1    91.0        0   28.0

[500 rows x 5 columns]

### 3. Find average number of likes to the post in September month.

In [20]:
df_fb.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [22]:
# Create mask to filterout the september month df
df_fb['Post Month']==9

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: Post Month, Length: 500, dtype: bool

In [24]:
# Apply the filter and get sum of like and total number of post
total_post = df_fb[df_fb['Post Month']==9].count()

### 4. Find the information about the posts which are links.

In [25]:
???????

Object `?????` not found.

### 5. How many total shares are present for the video posts?

In [27]:
# Create a mask for Data Type Video
df_fb['Type']=='Video'

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: Type, Length: 500, dtype: bool

In [28]:
# Apply the mask to DataFrame
df_fb[df_fb['Type'] == 'Video']

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
29,138895,Video,1,12,4,11,1.0,36208,61262,1141,1068,1728,30131,14112,559,18,143.0,13.0,174
55,138329,Video,1,11,6,2,1.0,16416,31950,459,411,539,21436,9568,363,2,65.0,14.0,81
71,137893,Video,1,11,5,3,1.0,100768,220447,2101,1735,2331,59658,18880,885,17,449.0,84.0,550
74,137893,Video,1,11,3,11,0.0,13544,30235,517,458,667,26622,11760,447,2,99.0,13.0,114
183,134879,Video,1,9,2,10,0.0,30624,56950,2080,1956,3253,32033,15744,1376,6,345.0,121.0,472
243,130791,Video,1,7,3,11,1.0,21872,40413,3872,3822,7327,24667,12920,2218,18,315.0,76.0,409
277,126424,Video,1,6,2,13,0.0,139008,277100,1779,1643,2356,107502,38720,1008,23,204.0,44.0,271

In [30]:
total_share = df_fb[df_fb['Type'] == 'Video']['share'].sum()
print("Total Number of share for Video Post = ", total_share)

Total Number of share for Video Post =  365.0

### 6. In which hour of the day maximum post are posted?

In [33]:
#Know the 
print('Hours for Maximum post :',df_fb['Post Hour'].max())

Hours for Maximum post : 23

### 7. In which day of October, maximum number of interactions are found?

In [35]:
#Create Mask
df_fb['Post Month']==10

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: Post Month, Length: 500, dtype: bool

In [41]:
#Apply The Mask
oct = df_fb[df_fb['Post Month']==10]

In [44]:
# Record the maximum number of intrection
oct.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [46]:
print("Maximum Number of Interaction for oct Month :",oct['Total Interactions'].max())

Maximum Number of Interaction for oct Month : 1626

### 8. Print the information of the posts where likes are above 200 and shares are above 30.

In [53]:
#Create the Mask for like and apply to dataFrames
like_df = df_fb[df_fb['like']>200]

#Create the Mask for share on above and apply to dataFrames
like_df[like_df['share']>30]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
26,138458,Status,2,12,5,11,0.0,19552,34143,2806,2531,3420,17748,9824,1779,10,412.0,72.0,494
28,138895,Photo,2,12,5,3,0.0,9560,18264,973,559,885,9217,4748,621,36,523.0,63.0,622
38,138895,Status,2,12,7,9,0.0,17576,33058,5352,5202,6547,23135,11792,4104,11,227.0,31.0,269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,92079,Photo,1,2,6,13,0.0,158208,453213,2482,2319,3412,81938,20608,1034,9,268.0,36.0,313
468,91651,Photo,1,2,4,12,0.0,15288,31467,1573,1401,2110,28247,13312,1052,5,264.0,36.0,305
476,86909,Photo,1,1,6,10,1.0,37088,10966,2728,2288,3183,66311,34352,2021,7,579.0,47.0,633
480,86909,Photo,2,1,4,11,0.0,11484,20696,1762,1635,2741,8774,5124,722,56,360.0,99.0,515
488,85979,Photo,3,1,7,10,0.0,9700,17442,1407,1271,2007,8872,4876,660,21,277.0,80.0,378