In [1]:
# pip install mlxtend -U

In [2]:
# Create the Datasets

In [5]:
dataset = [
    ['Apple', 'Beer', 'Rice', 'Chicken'],
    ['Apple', 'Beer', 'Rice'],
    ['Apple', 'Beer'],
    ['Apple', 'Pear'],
    ['Milk', 'Beer', 'Rice', 'Chicken'],
    ['Milk', 'Beer', 'Rice'],
    ['Milk', 'Beer'],
    ['Milk', 'Pear']
]
dataset

[['Apple', 'Beer', 'Rice', 'Chicken'],
 ['Apple', 'Beer', 'Rice'],
 ['Apple', 'Beer'],
 ['Apple', 'Pear'],
 ['Milk', 'Beer', 'Rice', 'Chicken'],
 ['Milk', 'Beer', 'Rice'],
 ['Milk', 'Beer'],
 ['Milk', 'Pear']]

In [6]:
# convert to structure formate

In [7]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [13]:
te = TransactionEncoder()
encoded = te.fit_transform(dataset)
encoded

array([[ True,  True,  True, False, False,  True],
       [ True,  True, False, False, False,  True],
       [ True,  True, False, False, False, False],
       [ True, False, False, False,  True, False],
       [False,  True,  True,  True, False,  True],
       [False,  True, False,  True, False,  True],
       [False,  True, False,  True, False, False],
       [False, False, False,  True,  True, False]])

In [14]:
te.columns_

['Apple', 'Beer', 'Chicken', 'Milk', 'Pear', 'Rice']

In [17]:
df = pd.DataFrame(encoded, columns=te.columns_)
df

   Apple   Beer  Chicken   Milk   Pear   Rice
0   True   True     True  False  False   True
1   True   True    False  False  False   True
2   True   True    False  False  False  False
3   True  False    False  False   True  False
4  False   True     True   True  False   True
5  False   True    False   True  False   True
6  False   True    False   True  False  False
7  False  False    False   True   True  False

In [18]:
from mlxtend.frequent_patterns import apriori, association_rules

In [26]:
# 1. Find frequent item set
freq_itemset = apriori(df, min_support=0.25, use_colnames=True)
freq_itemset

    support               itemsets
0     0.500                (Apple)
1     0.750                 (Beer)
2     0.250              (Chicken)
3     0.500                 (Milk)
4     0.250                 (Pear)
5     0.500                 (Rice)
6     0.375          (Apple, Beer)
7     0.250          (Apple, Rice)
8     0.250        (Chicken, Beer)
9     0.375           (Beer, Milk)
10    0.500           (Beer, Rice)
11    0.250        (Chicken, Rice)
12    0.250           (Milk, Rice)
13    0.250    (Apple, Beer, Rice)
14    0.250  (Chicken, Beer, Rice)
15    0.250     (Beer, Rice, Milk)

In [35]:
#rule = association_rules(freq_itemset, metric='lift', min_threshold=0.5)

rule = association_rules(freq_itemset, metric='confidence', min_threshold=0.5)
rule

        antecedents      consequents  ...  conviction  zhangs_metric
0           (Apple)           (Beer)  ...        1.00       0.000000
1            (Beer)          (Apple)  ...        1.00       0.000000
2           (Apple)           (Rice)  ...        1.00       0.000000
3            (Rice)          (Apple)  ...        1.00       0.000000
4         (Chicken)           (Beer)  ...         inf       0.333333
5            (Beer)           (Milk)  ...        1.00       0.000000
6            (Milk)           (Beer)  ...        1.00       0.000000
7            (Beer)           (Rice)  ...        1.50       1.000000
8            (Rice)           (Beer)  ...         inf       0.500000
9         (Chicken)           (Rice)  ...         inf       0.666667
10           (Rice)        (Chicken)  ...        1.50       1.000000
11           (Milk)           (Rice)  ...        1.00       0.000000
12           (Rice)           (Milk)  ...        1.00       0.000000
13    (Apple, Beer)           (Rice)  ...        1.50       0.400000
14    (Apple, Rice)           (Beer)  ...         inf       0.333333
15     (Beer, Rice)          (Apple)  ...        1.00       0.000000
16          (Apple)     (Beer, Rice)  ...        1.00       0.000000
17           (Rice)    (Apple, Beer)  ...        1.25       0.500000
18  (Chicken, Beer)           (Rice)  ...         inf       0.666667
19  (Chicken, Rice)           (Beer)  ...         inf       0.333333
20     (Beer, Rice)        (Chicken)  ...        1.50       1.000000
21        (Chicken)     (Beer, Rice)  ...         inf       0.666667
22           (Rice)  (Chicken, Beer)  ...        1.50       1.000000
23     (Beer, Rice)           (Milk)  ...        1.00       0.000000
24     (Beer, Milk)           (Rice)  ...        1.50       0.400000
25     (Milk, Rice)           (Beer)  ...         inf       0.333333
26           (Rice)     (Beer, Milk)  ...        1.25       0.500000
27           (Milk)     (Beer, Rice)  ...        1.00       0.000000

[28 rows x 10 columns]

In [36]:
rules = rule[['antecedents', 'consequents', 'support', 'confidence']]
rules

        antecedents      consequents  support  confidence
0           (Apple)           (Beer)    0.375    0.750000
1            (Beer)          (Apple)    0.375    0.500000
2           (Apple)           (Rice)    0.250    0.500000
3            (Rice)          (Apple)    0.250    0.500000
4         (Chicken)           (Beer)    0.250    1.000000
5            (Beer)           (Milk)    0.375    0.500000
6            (Milk)           (Beer)    0.375    0.750000
7            (Beer)           (Rice)    0.500    0.666667
8            (Rice)           (Beer)    0.500    1.000000
9         (Chicken)           (Rice)    0.250    1.000000
10           (Rice)        (Chicken)    0.250    0.500000
11           (Milk)           (Rice)    0.250    0.500000
12           (Rice)           (Milk)    0.250    0.500000
13    (Apple, Beer)           (Rice)    0.250    0.666667
14    (Apple, Rice)           (Beer)    0.250    1.000000
15     (Beer, Rice)          (Apple)    0.250    0.500000
16          (Apple)     (Beer, Rice)    0.250    0.500000
17           (Rice)    (Apple, Beer)    0.250    0.500000
18  (Chicken, Beer)           (Rice)    0.250    1.000000
19  (Chicken, Rice)           (Beer)    0.250    1.000000
20     (Beer, Rice)        (Chicken)    0.250    0.500000
21        (Chicken)     (Beer, Rice)    0.250    1.000000
22           (Rice)  (Chicken, Beer)    0.250    0.500000
23     (Beer, Rice)           (Milk)    0.250    0.500000
24     (Beer, Milk)           (Rice)    0.250    0.666667
25     (Milk, Rice)           (Beer)    0.250    1.000000
26           (Rice)     (Beer, Milk)    0.250    0.500000
27           (Milk)     (Beer, Rice)    0.250    0.500000

### Sort the rules

In [39]:
rules.sort_values(by=['confidence', 'support'], ascending=False)

        antecedents      consequents  support  confidence
8            (Rice)           (Beer)    0.500    1.000000
4         (Chicken)           (Beer)    0.250    1.000000
9         (Chicken)           (Rice)    0.250    1.000000
14    (Apple, Rice)           (Beer)    0.250    1.000000
18  (Chicken, Beer)           (Rice)    0.250    1.000000
19  (Chicken, Rice)           (Beer)    0.250    1.000000
21        (Chicken)     (Beer, Rice)    0.250    1.000000
25     (Milk, Rice)           (Beer)    0.250    1.000000
0           (Apple)           (Beer)    0.375    0.750000
6            (Milk)           (Beer)    0.375    0.750000
7            (Beer)           (Rice)    0.500    0.666667
13    (Apple, Beer)           (Rice)    0.250    0.666667
24     (Beer, Milk)           (Rice)    0.250    0.666667
1            (Beer)          (Apple)    0.375    0.500000
5            (Beer)           (Milk)    0.375    0.500000
2           (Apple)           (Rice)    0.250    0.500000
3            (Rice)          (Apple)    0.250    0.500000
10           (Rice)        (Chicken)    0.250    0.500000
11           (Milk)           (Rice)    0.250    0.500000
12           (Rice)           (Milk)    0.250    0.500000
15     (Beer, Rice)          (Apple)    0.250    0.500000
16          (Apple)     (Beer, Rice)    0.250    0.500000
17           (Rice)    (Apple, Beer)    0.250    0.500000
20     (Beer, Rice)        (Chicken)    0.250    0.500000
22           (Rice)  (Chicken, Beer)    0.250    0.500000
23     (Beer, Rice)           (Milk)    0.250    0.500000
26           (Rice)     (Beer, Milk)    0.250    0.500000
27           (Milk)     (Beer, Rice)    0.250    0.500000

#### Filter the Rules

In [40]:
nrules = rules[rules['confidence'] > 0.5]
nrules

        antecedents   consequents  support  confidence
0           (Apple)        (Beer)    0.375    0.750000
4         (Chicken)        (Beer)    0.250    1.000000
6            (Milk)        (Beer)    0.375    0.750000
7            (Beer)        (Rice)    0.500    0.666667
8            (Rice)        (Beer)    0.500    1.000000
9         (Chicken)        (Rice)    0.250    1.000000
13    (Apple, Beer)        (Rice)    0.250    0.666667
14    (Apple, Rice)        (Beer)    0.250    1.000000
18  (Chicken, Beer)        (Rice)    0.250    1.000000
19  (Chicken, Rice)        (Beer)    0.250    1.000000
21        (Chicken)  (Beer, Rice)    0.250    1.000000
24     (Beer, Milk)        (Rice)    0.250    0.666667
25     (Milk, Rice)        (Beer)    0.250    1.000000

In [41]:
# Recomandation System

In [48]:
nrules[nrules['antecedents'] == {'Rice'}]['consequents']

8    (Beer)
Name: consequents, dtype: object

In [47]:
nrules[nrules['antecedents'] == {'Apple'}]['consequents']

0    (Beer)
Name: consequents, dtype: object

In [50]:
nrules[nrules['antecedents'] == {'Apple', 'Beer'}]['consequents']

13    (Rice)
Name: consequents, dtype: object

In [51]:
#nrules.to_csv('Datasets/rules.csv', index = False)